* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    background: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.allPaths {
    fill: #ececec;
    stroke: #ffffff;
    stroke-width: 1;
    cursor: pointer;
}

.allPaths:hover {
    fill: pink;
}

#detail-container {
    position: absolute;
    color: white;
    padding: 5px;
    border-radius: 4px;
    display: none;
    pointer-events: none;
}

.name, .year {
    margin: 0;
    color: black;
}

#country-flag {
    width: 40px; 
    height: 22px;
    margin-right: 10px;
}

.head {
    color: black;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

#zoom-box {
    position: fixed;
    left: 10px;
    top: 80%;
    transform: translateY(-50%);
    width: 250px;
    height: 200px;
    border: 2px solid black;
    overflow: hidden;
    display: none;
    background-color: transparent;
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
}